$futura: FuturaDemiC;
$yeseva: Yeseva One;
$gold: #E3B873;
$dark: #131313;
$white: #ffffff;
$grey: #959595;

body {
	// END
	font: 100% $futura;
	margin: 0;
	.gold-text {
		color: $gold;
		font-weight: 500;
	}
	.btn {
		background-color: $gold;
		border-radius: 2px;
		box-shadow: 0 5px 15px rgba(227, 184, 115, .2);
		padding: 10px 15px;
		text-decoration: none;
		color: #fff;
	}
	h1,h2,h3,h4,h5,h6 {
		color: $gold;
		font-family: $yeseva;
		text-transform: uppercase;
		font-weight: normal;
	}
	// How to style checkboxes
	.checkbox {
		opacity: 0;
		visibility: hidden;
	}
	.checkbox + label {
	    display: flex;
	    justify-content: center;
	    align-items: center;
	}
	.checkbox + label:before {
	    content: '';
		width: 18px;
		height: 20px;
		border: 1px solid #e3b873;
		border-radius: 1px;
		margin-right: 1rem;
	}
	
	label:hover {
		cursor: pointer;
	}
	.checkbox:checked + label:before {
	    background-color: $gold;
	    content: "\2713";
	    color: #fff;
	}
}
header {
	position: fixed;
	width: 100%;
	background-color: $dark;
	z-index: 100;
	@media only screen and (min-width: 320px) and (max-width: 640px) {
		nav {
			display: flex;
			align-items: center;
			line-height: 50px;
		}
		.logo-name {
			font-size: 12px;
			line-height: 14px;
			font-weight: 500;
		}
		.nav-menu {
			display: none;
		}
		.info a{
			color: $white;
		}
		.info .btn {
			display: none;
		}
	}
	@media only screen and (min-width: 640px) and (max-width: 1180px) {
		.nav-menu {
			display: none;
		}
	}
}
nav {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	
	line-height: 70px;
	margin: 0 4%;
	a {
		color: #fff;
		padding: 0 15px;
		font-size: 14px;
		text-decoration: none;
	}
}
main {
	.description {
		background: url(../img/greet.jpg);
		
		position: relative;
		height: 680px;
		width: 100%;

		.dark {
			position: absolute;
			width: 100%;
			height: 100%;
			opacity: .4;
			background: rgba(0,0,0.7);
		}
		.desc-content {
			position: absolute;
			top: 150px;
			margin-left: 10%;
			width: 600px;
			height: 300px;

			h1 {
				color: #fff;
				font-size: 40px;
				line-height: 50px;
				margin: 0;
				text-transform: uppercase;
			}
			p {
				color: #fff;
				font-size: 22px;
				line-height: 30px;
			}
			.cost {
				display: inline-block;
			}
			.cost .btn:last-child {
				background-color: transparent;
				border: 1px solid #fff;
				box-sizing: border-box;
				margin-left: 10px;
			}
		}
		.scrolling-down {
			width: 50px;
			height: 50px;
			border-radius: 50%;
			position: absolute;
			top: 96%; left: 0; right: 0;
			margin: auto;
			cursor: pointer;
			
			background-color: $dark;
			img {
				width: 100%;
			}
		}

		.scrolling-down:hover {
			cursor: pointer;
		}
	}
	.finished-projects {
		background-color: $dark;
		padding: 50px 55px;

		.finished-title {
			text-align: center;
		}
		.swiper-container {
			width: 100%;
			min-height: 500px;

			.swiper-slide {
				display: flex;
				justify-content: space-between;

				.swiper-slide-description {
					min-width: 45%;
					max-width: 50%;
					margin-right: 15px;
					padding-left: 10px;
					h2 {
						text-align: center;
					}
					h2:after {
						content: "";
						background-color: $gold;
						height: 7px;
						width: 90px;
						display: block;
						margin: 20px auto;
						border-radius: 10px ;
					}
					p {
						color: $white;
						font-size: 20px;
						line-height: 25px;
					}
					.swiper-slide-datas {
						display: flex;
						flex-flow: row wrap;
						box-shadow: none;
						
						.swiper-slide-text {
							width: 50%;

							h3 {
								margin-bottom: 10px;
							}
							span {
								color: $white;
								line-height: 25px;
							}
						}
						
					}
				}
				.swiper-slide-img img{
					width: 100%;
				}
			}
			.swiper-pagination {
				
				.swiper-pagination-bullet {
					
					background-color: #ccc;
				}
				.swiper-pagination-bullet-active {
					background-color: #fff;
				}
			}
		}

	}
	.control-wrapper {

		.control-black-section {
			width: 100%;
			height: 300px;
			padding-top: 50px;
			background-color: $dark;

			.control-title {

				h2 {
					color: $white;
					font-family: $futura;
					text-align: center;
				}
				span {
					display: flex;
					align-items: center;
					justify-content: center;
				}
				span img {
					margin: 0 15px 0 15px;
				}
				span:before,
				span:after {
					content: "";
					width: 40px;
					height: 2px;
					background-color: $gold;
				}
			}
			.control-video {
				position: relative;
				display: flex;
				margin: 30px auto;
			    max-width: 60vw;
			    height: 400px;
			    background: #131313 url("../img/video-bg.jpg") center no-repeat;
			    box-shadow: 0px 20px 500px rgba(0, 0, 0, 0.15);
			    margin-bottom: 6.2rem;

			    img {
			    	position: relative;
			    	margin: auto;
			    	max-width: 100%;
			    }
			    img:hover {
			    	cursor: pointer;
			    }
			}
			.control-video:before {
				content: '';
				width: 100%;
				height: 100%;
				position: absolute;
				background-color: rgba(0, 0, 0, 0.8);
			}
		}
	}
	.control-request:before {
		content: "";
		display: block;
		margin: 30px auto;
		width: 70px;
		height: 2px;
		background-color: $gold;
	}
	.control-request {
		margin-top: 260px;
		padding-bottom: 50px;

		.control-request-description {
			display: block;
			width: 570px;
			margin: auto;
			.control-text {
				font-size: 20px;
				line-height: 34px;
				text-align: center; 
			}
		}

		form {
			display: flex;
			flex-flow: row wrap;
			justify-content: center;
			margin: 0 auto;
			margin-bottom: 40px;
			width: 70vw;

			.control-input-group {
				display: flex;
				flex-flow: column;
				color: grey;
				margin-right: 30px;
				min-width: 20%;
				label {
					font-size: 15px;
					line-height: 20px;
				}
				input {
					border: none;
					box-shadow: 0 1px grey;
					padding: 10px 20px 10px 0px;
				}
				input[type='text'],
				input[type=tel] {
					line-height: 24px;
					font-size: 16px;
				}
				input[type=text]:focus {
					
				}
			}
			.primary-button {
				background-color: $gold;
				box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
				border-radius: 2px;
				border: none;
				font-size: 22px;
				width: 200px;
				text-transform: uppercase;
				color: $white;
			}
			.primary-button:hover{
				cursor: pointer;
			}
			.control-policy {
				margin-top: 1.5rem;
				flex-basis: 100%;
				position: relative;
				// How to style checkboxes
				
			}
		}
	}

	.kinds-repair {
		padding: 30px 40px;
		.kinds-repair-title {
			padding: 20px 15px;

			h2 {
				color: $dark;
				font-family: $futura;
				font-size: 20px;
				line-height: 28px;
				text-align: center;
			}
			span {
				display: flex;
				align-items: center;
				justify-content: center;
			}
			span img {
				margin: 0 15px 0 15px;
			}
			span:before,
			span:after {
				content: "";
				width: 40px;
				height: 2px;
				background-color: $gold;
			}
		}
		.kinds-repair-container {
			display: flex;
			flex-flow: row wrap;
			justify-content: center;

			width: 100%;
			padding: 5px 20px 220px;
			
			.container-column {
				height: 400px;
				margin: 0 15px;
				position: relative;
				width: 30%;

				.container-col-description {
					position: absolute;
					width: 70%;
					padding: 20px 30px 10% 30px;
					min-height: 54%;
					background-color: $white;
					box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
					top: 60%; left: 0; right: 0; 
					margin: auto;
					
					span {
						font-size: 18px;
						line-height: 25px;
						font-family: $yeseva;
					}
					ul {
						padding: 0px 15px;

						li {
							font-size: 15px;
							line-height: 25px;
							color: $grey;
						}
					}
					.btn {
						font-size: 18px;
						position: absolute; left: 0; top: 92%;
						width: 200px;
						text-transform: uppercase;
						text-align: center;
						display: block;
					}
				}
			}
			.container-column:first-child {
				background-image: url(../img/image.jpg);
			}
			.container-column:nth-child(2) {
				background-image: url(../img/image2.jpg);
			}
			.container-column:last-child {
				background-image: url(../img/image3.jpg);
			}
		}
	}
	.fantasy:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 99.5%;
		background: rgba(0,0,0,0.7);
	} 
	.fantasy {
		position: relative;
		width: 100%;

		img {
			max-width: 1349px;
		}
		.fantasy-container {
			display: flex;
			flex-flow: row nowrap;
			position: absolute;top: 15%;

			.kinds-style {
				width: 56vw;
				padding-left: 8%;
				h2 {
					font-weight: 700;
				}

				.styles {
					display: flex;
					flex-flow: column;
					
					.active {
						color: $gold;

					}
					span {
						color: $white;
						font-size: 20px;
						line-height: 172%;
					}
					span:hover {
						cursor: pointer;
					}
				}
			}

			.kinds-imgs {
				display: grid;
				width: 60%;

				#american-classic {
					position: relative;

					
					img {
						position: absolute;
						width: 100%;
						margin: 5% 10px;
					}
					img:first-child {
						display: block;
						top: -15%;
						left: 48%;
					}
					img:nth-child(2) {
						left: 175%;
						top: -20%;
					}
					img:nth-child(3) {
						top: 65%;
						left: 48%;
					}
					img:last-child {
						left: 175%;
						top: 22%;

					}
				}
			}
		}
	} // End of f-block

	.design {
		.design-title {
			h2 {
				color: $dark;
				font-weight: 600;
			}
			text-align: center;
			span {
				display: flex;
				align-items: center;
				justify-content: center;
			}
			span img {
				margin: 0 15px 0 15px;
			}
			span:before,
			span:after {
				content: "";
				width: 40px;
				height: 2px;
				background-color: $gold;
			}
			p {
				font-size: 20px;
				line-height: 27px;
				color: #363636;
			}
		}
		.design-container{
			display: flex;
			flex-flow: row wrap;
			justify-content: center;

			width: 100%;
			
			.container-column {
				height: 400px;
				margin: 0 15px;
				position: relative;
				width: 30%;

				img {
					width: 100%;
				}
				
				.container-col-description {
					position: absolute;
					width: 70%;
					padding: 20px 30px 10% 30px;
					background-color: $white;
					box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
					top: 66%; left: 0; right: 0;
					margin: auto;
					
					span {
						font-size: 22px;
						line-height: 25px;
						font-weight: 600;
					}
					ul {
						padding: 0px 15px;

						li {
							font-size: 15px;
							line-height: 25px;
							color: $grey;
						}
					}
					.btn {
						font-size: 18px;
						position: absolute; left: 0;
						width: 200px;
						text-transform: uppercase;
						text-align: center;
						display: block;
					}
					.btn#first {
						top: 90%;
					}
					.btn#second {
						top: 92%;
					}
					.btn#third {
						top: 94%;
					}
				}
			}
		}
	}
	.black-row {
		background-color: $dark;
		width: 100%;
		height: 500px;
		margin-top: -10%;
		position: relative;
		z-index: -100;
	}
	.team:before {
		content: '';
		background-color: $dark;
		width: 100%;
		height: 400px;
		display: block;
	}
	.team {
		position: relative;
		.team-title {
			margin-top: -27rem;
			h2 {
				color: $white;
				font-weight: 600;
			}
			text-align: center;
			span {
				display: flex;
				align-items: center;
				justify-content: center;
			}
			span img {
				margin: 0 15px 0 15px;
			}
			span:before,
			span:after {
				content: "";
				width: 40px;
				height: 2px;
				background-color: $gold;
			}
			.text p:first-child {
				margin-bottom: 5px;
			}
			.text p:last-child {
				margin-top: 5px;
			}
			.text {
				margin-bottom: 3rem;
				p {
					font-size: 20px;
					line-height: 27px;
					color: #fff;
				}
			}
		}
		.team-container {
			display: flex;
			flex-flow: row wrap;
			justify-content: center;
			padding: 2% 5%;
			margin-bottom: 50px;

			.team-column {
				margin: 2% auto;
				position: relative;

				.team-descrtiption {
					background-color: #fff;
					position: absolute;top: 78%;
					left: 5%; right: 5%;
					margin: 0 auto;

					b {
						font-size: 20px;
						font-weight: 700;
						text-align: center;
						margin: 7px;
						display: block;
					}
					i {
						color: #959595;
						display: block;
						margin: 5px 0 20px;
						text-align: center;
					}
					.btn {
						display: block;
						text-align: center;
						width: 88%;
					}
				}
			}
		}
		.team-container:after {
			content: '';
			background-color: $gold;
			height: 2px;
			width: 100px;
			position: absolute;
			top: 80%;
		}
	}
	p {
		color: #363636;
		font-size: 20px;
		line-height: 34px;
		margin: 0 auto 30px;
		text-align: center;
		max-width: 580px;
	}
	
	.clients {
		margin-top: 5rem;
		margin-bottom: 25%;
		.clients-title {
			h2 {
				color: $dark;
				font-weight: 600;
			}
			text-align: center;
			span {
				display: flex;
				align-items: center;
				justify-content: center;
			}
			span img {
				margin: 0 15px 0 15px;
			}
			span:before,
			span:after {
				content: "";
				width: 40px;
				height: 2px;
				background-color: $gold;
			}
		}
	}
	.clients-container {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		padding: 2% 5%;
		margin-bottom: 120px;

		.clients-column {
			width: 30%;
			padding: 10px;
			position: relative;
			box-shadow: -1px 2px 6px #ccc;
			margin: 0 auto;
			
			.clients-title {
				display: flex;
				flex-flow: row nowrap;
				justify-content: center;
				align-items: center;

				img {
					border-radius: 50%;
				}
				
				h3 {
					color: $dark;
					font-size: 18px;
					line-height: 23px;
					font-weight: 600;
					text-align: left;
					margin-left: 10px;
				}
			}
			p {
				font-size: 15px;
				line-height: 180%;
				color: #959595;
				margin-top: 10px;
				margin-bottom: 25px;
				text-align: left;
			}
			.time {
				display: flex;
				flex-flow: row nowrap;
				align-items: center;
				position: absolute; top: 93%;
				left: 0;

				.btn {
					margin-right: 2px;
					min-width: 110px;
					box-shadow: 1px 2px 2px #e3b873;

					img {
						margin-right: 15px;
						vertical-align: middle;
					}
				}
			}
		}
	}

}

footer {
	background: url(../img/footer-bg.jpg) no-repeat center/cover;
	padding-bottom: 42rem;
	max-height: 300px;
	position: relative;
	
	.footer-container {
		padding: 4%;
		display: flex;
		flex-flow: column;
		justify-content: center;

		.footer-form-wrap {
			min-height: 400px;
			margin-top: -23rem;
			padding: 7rem 13rem;
			background: url(../img/form-footer-bg.png) center no-repeat;
			
			form {
				display: flex;
				flex-flow: row wrap;
				justify-content: center;
				h3 {
					color: #fff;
					font-weight: 700;
					font-size: 22px;
					width: 100%;
					text-align: center;
				}

				width: 65%;
				margin: 0 auto;
				
				.input-form {
					display: flex;
					flex-flow: column;
					margin: 3%;
					width: 44%;

					label {
						font-size: 15px;
						line-height: 20px;
						color: rgba(255, 255, 255, 0.5);
						margin-bottom: 7px;
					}

					input {
						border: none;
						background: transparent;
						box-shadow: 0 1px grey;
						padding: 10px 20px 10px 0px;
					}
					input[type='text'],
					input[type=tel] {
						color: white;
						line-height: 24px;
						font-size: 16px;
					}
				}
				.large {
					width: 100%;
				}
				.primary-button {
					background-color: $gold;
					box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
					border-radius: 2px;
					border: none;
					font-size: 18px;
					height: 40px;
					width: 200px;
					text-transform: uppercase;
					color: $white;
				}
				.primary-button:hover{
					cursor: pointer;
				}
				.footer-policy {
					width: 100%;
					margin-bottom: 10px;
					
					label {
						color: #fff;
					}
				}
			}
		} // END OF FOOTER WRAP
		.footer-title {
			margin-bottom: 2%;
			margin-top: -2rem;
			text-align: center;
			
			.description {
				p {
					color: $gold;
					font-size: 20px;
					line-height: 28px;
					text-transform: uppercase;
				}
			}
			.links {
				a {
					margin: 10px;
				}
			}
		}
		.footer-title-mobile {
			display: none;
		}
		.ymap-container {
			margin: 0 auto;
		}
		iframe {
			
		}

	}
	.footer-menu {
		background-color: $dark;

		a:hover {
			color: $gold;
		}
	}
}

// MEDIA
// MEDIA FOR .description

@media only screen and (min-width: 320px) and (max-width: 640px) {
	body {
		background-color: $dark;
	}
	main {
		.description {
			width: 100%;
			.desc-content {
				position: relative;
				display: block;
				width: 90vw;

				h1 {
					font-size: 23px;
					line-height: 30px;
					width: 90%;
				}
				p {
					font-size: 18px;
					text-align: left;
					margin: 25px 0;
					line-height: 25px;
					width: 90%;
					hyphens: auto;
				}
				.cost {
					display: flex;
					flex-flow: column;
					text-align: center;	
					.btn {
						padding: 0;
						width: 80vw;
						line-height: 50px;
					}
				}
				.cost .btn:last-child {
					margin-top: 30px;
					margin-left: 0px;
				}
			}
			.scrolling-down {
				display: none;
			}
		}
		.finished-projects {
			padding: 10px;
			.finished-title {
				h2 {
					font-size: 22px;
					line-height: 138.6%;
				}
			}
			.swiper-container {

				.swiper-wrapper {

					.swiper-slide {
						display: flex;
						flex-flow: column nowrap;

						.swiper-slide-description {
							max-width: 100%;
							margin-bottom: 30px;
							h2 {
								font-size: 20px;
								line-height: 138.5%; 
							}
							p {
								font-size: 18px;
								line-height: 158%;
							}
						}// Swiper-description
						

					}// Swiper-wrapper
					
				}//swiper-contaner
				
			}// finished prs

		}//main
		

		// Video control
		.control-wrapper {
			padding-bottom: 150px;
			background-color: $dark;
			.control-black-section {

				.control-video {
					max-width: 90%;
					height: 300px;

					img {
						background-size: contain;
						background-position: center;
						background-repeat: no-repeat;
					}
				}
			}
		} // control-wrapper
		.control-request:before {
			margin: 30px auto 10px;
		}
		.control-request {
			background-color: $dark;
			margin-top: -30px;
			.control-request-description {
				color: $white;
				padding: 10px;
				width: 100%;

				.control-text {
					font-size: 14px;
					line-height: 170%;
					width: 90%;
					color: #fff;
					margin: 0 auto 0 8px;
				}
			}
			form {
				display: flex;
				flex-flow: column nowrap;
				position: relative;

				margin: 0 14px;
				width: 100%;
				
				.button {
					width: 92%;
					border: none;
					font-size: 18px;
					position: absolute;
					top: 111%;
					line-height: 40px;
				}

				.control-input-group {
					margin-bottom: 55px;

					input[type='text'],
					input[type=tel] {
						color: $grey;
						box-shadow: 0 2px $grey;
						line-height: 24px;
						background-color: $dark;
						font-size: 16px;
					}
				}
				.control-input-group:last-child {
					margin-bottom: 30px;
				}
				.control-policy {
					margin-top: 1.5rem;
					label {
						color: $white;
						justify-content: flex-start;
						margin-top: -3rem;
					}
				}
			}// form
			
		} // control-request
		.kinds-repair {
			padding-top: 40px;
		}
		.kinds-repair,
		.design {
			padding: 40px 0 0 0;
			background-color: $dark;
			.design-title,
			.kinds-repair-title {
				
				h2 {
					color: $white;
					margin-top: 0;
					font-weight: 700;
				}
				p {
					color: #fff;
				}
			}
	
			.kinds-repair-container {
				padding: 0;
				.container-column {
					margin-bottom: 240px;
					width: 100%;

					.container-col-description {
						min-height: 150px;
						.btn {
							top: 93%;
						}
					}
				}
			}
		}
		.design .design-container {
			padding: 0;
			.container-column {
				width: 100%;

				.container-col-description {
					min-height: 150px;
					top: 53%;
					.btn {
						top: 93%;
					}
				}
			}
			.container-column:first-child {
				margin-bottom: 22%;
			}
			.container-column:nth-child(2) {
				margin-bottom: 42%;
			}
			.container-column:last-child {
				margin-bottom: 72%;
			}
		}
		.steps {
			display: none;
		}
		.black-row {
			height: 100px;
		}
		.team {
			p {
				display: none;
			}
			.team-title {
				.text {
					margin-top: 10px;
					p {
						font-size: 14px;
					}
				}
			}
			.team-container {
				
				.team-column {
					margin-bottom: 60px;
					.team-description {
						
					}
				}
			}
			.team-container:after {
				content: none;
			}
		}
		.clients {
			display: none;
		}
	} // main
	
	footer {
		padding-bottom: 37rem;
		width: 100%;
		.footer-container {
			.footer-form-wrap {
				background: none;
				margin: 0 0 40px;
				padding: 0;
				form {
					display: flex;
					flex-flow: column;
					margin: 0;
					width: 93%;
					.input-form {
						width: 100%;
					}
					
					.primary-button {
						display: block;
						width: 100%;
						margin: 0 10px;
					}
					
				}
			}
			.footer-title {
				display: none;
			}
			.footer-title-mobile {
				display: block;
				text-align: center;
			
				.description {
					p {
						color: $gold;
						font-size: 14px;
						line-height: 28px;
						text-transform: uppercase;
					}
				}
				.links {
					a {
						margin: 10px;
					}
				}
			}
			.ymap-container {
				margin: 0;
				iframe {
					width: 100%;
					height: 250px;
				}
			}
		}
		.footer-menu {
			display: none;
		}

	}
}//media
@media only screen and (max-width: 1180px) {
	.fantasy {
		display: none;
	}
}