@charset "UTF-8";
body {
  font: 100% FuturaDemiC;
  margin: 0;
}
body .gold-text {
  color: #E3B873;
  font-weight: 500;
}
body .btn {
  background-color: #E3B873;
  border-radius: 2px;
  box-shadow: 0 5px 15px rgba(227, 184, 115, 0.2);
  padding: 10px 15px;
  text-decoration: none;
  color: #fff;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  color: #E3B873;
  font-family: Yeseva One, cursive;
  text-transform: uppercase;
  font-weight: normal;
}

header {
  position: fixed;
  width: 100%;
  background-color: #131313;
  z-index: 100;
}
@media only screen and (min-width: 320px) and (max-width: 640px) {
  header nav {
    display: flex;
    align-items: center;
    line-height: 50px;
  }
  header .logo-name {
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
  }
  header .nav-menu {
    display: none;
  }
  header .info a {
    color: #ffffff;
  }
  header .info .btn {
    display: none;
  }
}
@media only screen and (min-width: 640px) and (max-width: 1180px) {
  header .nav-menu {
    display: none;
  }
}

nav {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  line-height: 70px;
  margin: 0 4%;
}
nav a {
  color: #fff;
  padding: 0 15px;
  font-size: 14px;
  text-decoration: none;
}

main .description {
  background: url(../img/greet.jpg);
  position: relative;
  height: 680px;
  width: 100%;
}
main .description .dark {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background: #000001;
}
main .description .desc-content {
  position: absolute;
  top: 150px;
  margin-left: 10%;
  width: 600px;
  height: 300px;
}
main .description .desc-content h1 {
  color: #fff;
  font-size: 40px;
  line-height: 50px;
  margin: 0;
  text-transform: uppercase;
}
main .description .desc-content p {
  color: #fff;
  font-size: 22px;
  line-height: 30px;
}
main .description .desc-content .cost {
  display: inline-block;
}
main .description .desc-content .cost .btn:last-child {
  background-color: transparent;
  border: 1px solid #fff;
  box-sizing: border-box;
  margin-left: 10px;
}
main .description .scrolling-down {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 96%;
  left: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
  background-color: #131313;
  box-shadow: 0 0 2px 1px #E3B873;
}
main .description .scrolling-down i {
  position: relative;
  font-size: 30px;
  left: 16px;
  top: 10px;
  text-align: center;
  color: #E3B873;
}
main .description .scrolling-down:hover {
  cursor: pointer;
}
main .finished-projects {
  background-color: #131313;
  padding: 50px 55px;
}
main .finished-projects .finished-title {
  text-align: center;
}
main .finished-projects .swiper-container {
  width: 100%;
  min-height: 500px;
}
main .finished-projects .swiper-container .swiper-slide {
  display: flex;
  justify-content: space-between;
}
main .finished-projects .swiper-container .swiper-slide .swiper-slide-description {
  min-width: 45%;
  max-width: 50%;
  margin-right: 15px;
  padding-left: 10px;
}
main .finished-projects .swiper-container .swiper-slide .swiper-slide-description h2 {
  text-align: center;
}
main .finished-projects .swiper-container .swiper-slide .swiper-slide-description h2:after {
  content: "";
  background-color: #E3B873;
  height: 7px;
  width: 90px;
  display: block;
  margin: 20px auto;
  border-radius: 10px;
}
main .finished-projects .swiper-container .swiper-slide .swiper-slide-description p {
  color: #ffffff;
  font-size: 20px;
  line-height: 25px;
}
main .finished-projects .swiper-container .swiper-slide .swiper-slide-description .swiper-slide-datas {
  display: flex;
  flex-flow: row wrap;
  box-shadow: none;
}
main .finished-projects .swiper-container .swiper-slide .swiper-slide-description .swiper-slide-datas .swiper-slide-text {
  width: 50%;
}
main .finished-projects .swiper-container .swiper-slide .swiper-slide-description .swiper-slide-datas .swiper-slide-text h3 {
  margin-bottom: 10px;
}
main .finished-projects .swiper-container .swiper-slide .swiper-slide-description .swiper-slide-datas .swiper-slide-text span {
  color: #ffffff;
  line-height: 25px;
}
main .finished-projects .swiper-container .swiper-slide .swiper-slide-img img {
  width: 100%;
}
main .finished-projects .swiper-container .swiper-pagination .swiper-pagination-bullet {
  background-color: #ccc;
}
main .finished-projects .swiper-container .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #fff;
}
main .control-wrapper .control-black-section {
  width: 100%;
  height: 300px;
  padding-top: 50px;
  background-color: #131313;
}
main .control-wrapper .control-black-section .control-title h2 {
  color: #ffffff;
  font-family: FuturaDemiC;
  text-align: center;
}
main .control-wrapper .control-black-section .control-title span {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .control-wrapper .control-black-section .control-title span img {
  margin: 0 15px 0 15px;
}
main .control-wrapper .control-black-section .control-title span:before,
main .control-wrapper .control-black-section .control-title span:after {
  content: "";
  width: 40px;
  height: 2px;
  background-color: #E3B873;
}
main .control-wrapper .control-black-section .control-video {
  position: relative;
  display: flex;
  margin: 30px auto;
  max-width: 60vw;
  height: 400px;
  background: #131313 url("../img/video-bg.jpg") center no-repeat;
  box-shadow: 0px 20px 500px rgba(0, 0, 0, 0.15);
  margin-bottom: 6.2rem;
}
main .control-wrapper .control-black-section .control-video img {
  position: relative;
  margin: auto;
  max-width: 100%;
}
main .control-wrapper .control-black-section .control-video img:hover {
  cursor: pointer;
}
main .control-wrapper .control-black-section .control-video:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
}
main .control-request:before {
  content: "";
  display: block;
  margin: 30px auto;
  width: 70px;
  height: 2px;
  background-color: #E3B873;
}
main .control-request {
  margin-top: 260px;
  padding-bottom: 50px;
}
main .control-request .control-request-description {
  display: block;
  width: 570px;
  margin: auto;
}
main .control-request .control-request-description .control-text {
  font-size: 20px;
  line-height: 34px;
  text-align: center;
}
main .control-request form {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 40px;
  width: 70vw;
}
main .control-request form .control-input-group {
  display: flex;
  flex-flow: column;
  color: grey;
  margin-right: 30px;
  min-width: 20%;
}
main .control-request form .control-input-group label {
  font-size: 15px;
  line-height: 20px;
}
main .control-request form .control-input-group input {
  border: none;
  box-shadow: 0 1px grey;
  padding: 10px 20px 10px 0px;
}
main .control-request form .control-input-group input[type=text],
main .control-request form .control-input-group input[type=tel] {
  line-height: 24px;
  font-size: 16px;
}
main .control-request form .primary-button {
  background-color: #E3B873;
  box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
  border-radius: 2px;
  border: none;
  font-size: 22px;
  width: 200px;
  text-transform: uppercase;
  color: #ffffff;
}
main .control-request form .primary-button:hover {
  cursor: pointer;
}
main .control-request form .control-policy {
  margin-top: 1.5rem;
  flex-basis: 100%;
  position: relative;
}
main .control-request form .control-policy #checkbox {
  display: none;
}
main .control-request form .control-policy #checkbox + label {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
main .control-request form .control-policy #checkbox + label:before {
  content: "✔";
  width: 20px;
  height: 20px;
  color: white;
  margin-right: 8px;
  border: 1px solid #E3B873;
  border-radius: 2px;
}
main .control-request form .control-policy #checkbox:hover,
main .control-request form .control-policy label:hover {
  cursor: pointer;
}
main .control-request form .control-policy #checkbox:checked + label:before {
  background-color: #E3B873;
}
main .kinds-repair {
  padding: 30px 40px;
}
main .kinds-repair .kinds-repair-title {
  padding: 20px 15px;
}
main .kinds-repair .kinds-repair-title h2 {
  color: #131313;
  font-family: FuturaDemiC;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}
main .kinds-repair .kinds-repair-title span {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .kinds-repair .kinds-repair-title span img {
  margin: 0 15px 0 15px;
}
main .kinds-repair .kinds-repair-title span:before,
main .kinds-repair .kinds-repair-title span:after {
  content: "";
  width: 40px;
  height: 2px;
  background-color: #E3B873;
}
main .kinds-repair .kinds-repair-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  padding: 5px 20px 220px;
}
main .kinds-repair .kinds-repair-container .container-column {
  height: 400px;
  margin: 0 15px;
  position: relative;
  width: 30%;
}
main .kinds-repair .kinds-repair-container .container-column .container-col-description {
  position: absolute;
  width: 70%;
  padding: 20px 30px 10% 30px;
  min-height: 54%;
  background-color: #ffffff;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
  top: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
main .kinds-repair .kinds-repair-container .container-column .container-col-description span {
  font-size: 18px;
  line-height: 25px;
  font-style: Yeseva One, cursive;
}
main .kinds-repair .kinds-repair-container .container-column .container-col-description ul {
  padding: 0px 15px;
}
main .kinds-repair .kinds-repair-container .container-column .container-col-description ul li {
  font-size: 15px;
  line-height: 25px;
  color: #959595;
}
main .kinds-repair .kinds-repair-container .container-column .container-col-description .btn {
  font-size: 18px;
  position: absolute;
  left: 0;
  top: 92%;
  width: 200px;
  text-transform: uppercase;
  text-align: center;
  display: block;
}
main .kinds-repair .kinds-repair-container .container-column:first-child {
  background-image: url(../img/image.jpg);
}
main .kinds-repair .kinds-repair-container .container-column:nth-child(2) {
  background-image: url(../img/image2.jpg);
}
main .kinds-repair .kinds-repair-container .container-column:last-child {
  background-image: url(../img/image3.jpg);
}
main .fantasy:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 99.5%;
  background: rgba(0, 0, 0, 0.7);
}
main .fantasy {
  position: relative;
  margin-top: 100px;
  width: 100%;
}
main .fantasy img {
  max-width: 1349px;
}
main .fantasy .fantasy-container {
  display: flex;
  flex-flow: row nowrap;
  position: absolute;
  top: 15%;
}
main .fantasy .fantasy-container .kinds-style {
  width: 37vw;
  margin-left: 16%;
}
main .fantasy .fantasy-container .kinds-style h2 {
  font-weight: 700;
}
main .fantasy .fantasy-container .kinds-style .styles {
  display: flex;
  flex-flow: column;
}
main .fantasy .fantasy-container .kinds-style .styles .active {
  color: #E3B873;
}
main .fantasy .fantasy-container .kinds-style .styles span {
  color: #ffffff;
  font-size: 20px;
  line-height: 172%;
}
main .fantasy .fantasy-container .kinds-style .styles span:hover {
  cursor: pointer;
}
main .fantasy .fantasy-container .kinds-imgs {
  display: grid;
}
main .fantasy .fantasy-container .kinds-imgs #american-classic {
  position: relative;
}
main .fantasy .fantasy-container .kinds-imgs #american-classic img {
  position: absolute;
}
main .fantasy .fantasy-container .kinds-imgs #american-classic img:first-child {
  display: block;
  top: -34%;
  left: 25px;
}
main .fantasy .fantasy-container .kinds-imgs #american-classic img:nth-child(2) {
  left: 410px;
  top: -40%;
}
main .fantasy .fantasy-container .kinds-imgs #american-classic img:nth-child(3) {
  top: 85%;
  left: 25px;
}
main .fantasy .fantasy-container .kinds-imgs #american-classic img:last-child {
  left: 410px;
  top: 22%;
}
main .design {
  padding-top: 180px;
}
main .design .design-title {
  text-align: center;
}
main .design .design-title h2 {
  color: #131313;
  font-weight: 600;
}
main .design .design-title span {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .design .design-title span img {
  margin: 0 15px 0 15px;
}
main .design .design-title span:before,
main .design .design-title span:after {
  content: "";
  width: 40px;
  height: 2px;
  background-color: #E3B873;
}
main .design .design-title p {
  font-size: 20px;
  line-height: 27px;
  color: #363636;
}
main .design .design-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}
main .design .design-container .container-column {
  height: 400px;
  margin: 0 15px;
  position: relative;
  width: 30%;
}
main .design .design-container .container-column .container-col-description {
  position: absolute;
  width: 70%;
  padding: 20px 30px 10% 30px;
  background-color: #ffffff;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
  top: 72%;
  left: 0;
  right: 0;
  margin: auto;
}
main .design .design-container .container-column .container-col-description span {
  font-size: 22px;
  line-height: 25px;
  font-weight: 600;
}
main .design .design-container .container-column .container-col-description ul {
  padding: 0px 15px;
}
main .design .design-container .container-column .container-col-description ul li {
  font-size: 15px;
  line-height: 25px;
  color: #959595;
}
main .design .design-container .container-column .container-col-description .btn {
  font-size: 18px;
  position: absolute;
  left: 0;
  top: 92%;
  width: 200px;
  text-transform: uppercase;
  text-align: center;
  display: block;
}
main .black-row {
  background-color: #131313;
  width: 100%;
  height: 500px;
  margin-top: -10%;
  position: relative;
  z-index: -100;
}
main .team-title {
  text-align: center;
}
main .team-title h2 {
  color: #131313;
  font-weight: 600;
}
main .team-title span {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .team-title span img {
  margin: 0 15px 0 15px;
}
main .team-title span:before,
main .team-title span:after {
  content: "";
  width: 40px;
  height: 2px;
  background-color: #E3B873;
}
main .team-title p {
  font-size: 20px;
  line-height: 27px;
  color: #363636;
}

@media only screen and (min-width: 320px) and (max-width: 640px) {
  main .description {
    width: 100%;
  }
  main .description .desc-content {
    position: relative;
    display: block;
    width: 90vw;
  }
  main .description .desc-content h1 {
    font-size: 23px;
    line-height: 30px;
    width: 90%;
  }
  main .description .desc-content p {
    font-size: 18px;
    line-height: 25px;
    width: 90%;
    hyphens: auto;
  }
  main .description .desc-content .cost {
    display: flex;
    flex-flow: column;
    text-align: center;
  }
  main .description .desc-content .cost .btn {
    padding: 0;
    width: 80vw;
    line-height: 50px;
  }
  main .description .desc-content .cost .btn:last-child {
    margin-top: 30px;
    margin-left: 0px;
  }
  main .description .scrolling-down {
    display: none;
  }
  main .finished-projects {
    padding: 10px;
  }
  main .finished-projects .finished-title h2 {
    font-size: 22px;
    line-height: 138.6%;
  }
  main .finished-projects .swiper-container .swiper-wrapper .swiper-slide {
    display: flex;
    flex-flow: column nowrap;
  }
  main .finished-projects .swiper-container .swiper-wrapper .swiper-slide .swiper-slide-description {
    max-width: 100%;
    margin-bottom: 30px;
  }
  main .finished-projects .swiper-container .swiper-wrapper .swiper-slide .swiper-slide-description h2 {
    font-size: 20px;
    line-height: 138.5%;
  }
  main .finished-projects .swiper-container .swiper-wrapper .swiper-slide .swiper-slide-description p {
    font-size: 18px;
    line-height: 158%;
  }
  main .control-wrapper {
    padding-bottom: 150px;
    background-color: #131313;
  }
  main .control-wrapper .control-black-section .control-video {
    max-width: 90%;
    height: 300px;
  }
  main .control-wrapper .control-black-section .control-video img {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  main .control-request:before {
    margin: 30px auto 10px;
  }
  main .control-request {
    background-color: #131313;
    margin-top: -30px;
  }
  main .control-request .control-request-description {
    color: #ffffff;
    padding: 10px;
    width: 100%;
  }
  main .control-request .control-request-description .control-text {
    font-size: 14px;
    line-height: 170%;
    width: 90%;
    margin: 0 auto 0 8px;
  }
  main .control-request form {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    margin: 0 14px;
    width: 100%;
  }
  main .control-request form .button {
    width: 92%;
    border: none;
    font-size: 18px;
    position: absolute;
    top: 111%;
    line-height: 40px;
  }
  main .control-request form .control-input-group {
    margin-bottom: 55px;
  }
  main .control-request form .control-input-group input[type=text],
main .control-request form .control-input-group input[type=tel] {
    color: #959595;
    box-shadow: 0 2px #959595;
    line-height: 24px;
    background-color: #131313;
    font-size: 16px;
  }
  main .control-request form .control-input-group:last-child {
    margin-bottom: 30px;
  }
  main .control-request form .control-policy {
    margin-top: 1.5rem;
  }
  main .control-request form .control-policy .policy-label {
    color: #ffffff;
    justify-content: flex-start;
    margin-top: -3rem;
  }
  main .kinds-repair {
    padding: 0;
  }
  main .kinds-repair .kinds-repair-title h2 {
    font-weight: 700;
  }
  main .kinds-repair .kinds-repair-container {
    padding: 0;
  }
  main .kinds-repair .kinds-repair-container .container-column {
    margin-bottom: 240px;
    width: 100%;
  }
  main .kinds-repair .kinds-repair-container .container-column .container-col-description {
    height: 239px;
  }
  main .kinds-repair .kinds-repair-container .container-column .container-col-description .btn {
    top: 93%;
  }
}

/*# sourceMappingURL=out.css.map */
