$black: #070707;
$grey: #828282;
$lgrey: #F6F6F6;

.active {
	color: $black;
	font-weight: 600;
}
header {
	background-color: #fff;
	position: fixed;
	width: 80%;
	padding: 1% 10%;
	z-index: 100;

	.nav-links {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-around;
		
		a {
			color: $grey;
			font-size: calc(18px - 0 * (100vw / 1445));
			font-weight: 600;
			transition: .2s;
		}
		a:hover {
			color: $black;
			transition: .2s;
		}
		.active {
			color: $black;
		}
	}
	
}
header:after {
	content: "";
	border-bottom: 1px solid $grey;
	display: block;
	width: 100%;
	min-height: 20px;
}